@import url(https://fonts.googleapis.com/css?family=Roboto:700,300);

.modal-window {
  display: none;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: rgb(34, 34, 34);
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 30px;
  }
  button {
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.requestForm {
  display: flex;
  flex-direction: column;
}

.form-style {
  background: transparent;
  border: none;
  border-bottom: 1px white solid;
  outline: none;
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

/* Demo Styles */
