* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.App {
  background-color: rgb(24, 24, 24);
  height: 100vh;
}

h1,
h2,
h3 {
  color: rgb(233, 233, 233);
}
body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 700;
  color: gray;
}

.library-active {
  margin-left: 20rem;
}

@import "./player";
@import "./song";
@import "./library";
@import "./navbar";
@import "./modal";
